# 数据集和结果
Exp1_MNIST/data/
Exp1_MNIST/results/
Exp1_MNIST/results_*/
*.pdf


__pycache__/
*.pyc
.vscode/
*.code-workspace
.DS_Store
Thumbs.db

Exp2_CIFAR10/data/
Exp2_CIFAR10/results/
Exp2_CIFAR10/models/
Exp2_CIFAR10/logs/

Exp3_VAE/data/
Exp3_VAE/results/
*.pdf